code/.settings
code/.target
samples/play-easymail-usage/.settings
samples/play-easymail-usage/.target
.classpath
.project
code/bin
samples/play-easymail-usage/bin
target
repo
code/.idea
code/.idea_modules
samples/play-easymail-usage/.idea
samples/play-easymail-usage/.idea_modules
